/*NORMALIZACION:*/
* {
    box-sizing: border-box;
    /*Mantiene el ancho y alto a pesar del padding y border*/
    color: black;
    font-family: "Cormorant", serif;
    list-style: none;
    /*Quita puntos y decoracion de las listas*/
    margin: 0;
    padding: 0;
    text-decoration: none;
    /*Quita el subyrayado de los enlaces*/
    color: white
}

header {
    align-items: center;
    /*Centra verticalmente*/
    background-color: #f9fafaea;
    box-shadow: 0px 0px 2px #828b8c4a;
    display: flex;
    /*Los elementos se ponga en linea*/
    justify-content: space-between;
    /*Los elementos se separan*/
    padding: 10px 3%;
    position: fixed;
    /*El header se quede fijo en la parte superior*/
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    /*El header se muestre por encima*/
}

.logo {
    color: #424949;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #424949a2;
}

.navlist {
    display: flex;
    /*Los elementos de ul se pongan en linea*/
}

.navlist a {
    border-bottom: 2px solid transparent;
    /*Subrayado transparente*/
    color: #424949;
    font-size: 15px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 1px;
    margin-left: 60px;
    /*Separar las palabras*/
    text-shadow: 1px 1px 3px #424949a2;
    text-transform: uppercase;
    transition: all 0.5 ease;
    /*Animar(transicionar) todas las caracteristicas*/
}

.navlist a:hover {
    border-bottom: 2px solid #1b4f72;
}

.navlist a:active {
    background-color: #5dade2;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    padding: 2px;
}

#menu-icon {
    display: none;
    /*Lo pongo en none para que se vea cuando la pagina esta colapsada de forma horizontal*/
}

#menu-icon {
    cursor: pointer;
    /*para que aparezca la manito cuando pasamos el mouse encima*/
    font-size: 35px;
    z-index: 101;
    /*para que este sobre el header*/
}

#menu-toggle {
    display: none;
    /*Nunca quiero que se vea el checkbox*/
}

.meno-icon-action {
    display: none;
    /*para que no se le pueda hacer click*/
}

.hero {
    align-items: center;
    /*Alinear verticalmente el hero*/
    background: linear-gradient(245.59deg, #1b4f72 0%, #427ea5 25%, #5dade2 75%);
    /*Fondo gradiente*/
    display: grid;
    /*El hero se pueda dividir en 2 columnas*/
    gap: 2rem;
    /*haya espacio de 2 rem entre las columnas*/
    grid-template-columns: 1fr 1fr;
    /*Dos columnas*/
    height: 100%;
    min-height: 100vh;
    position: relative;
    /*Relativo al contenedor (nos permite usar top, bottom, left y right*/
    width: 100%;
}

section {
    box-shadow: 0px 0px 2px #828b8c4a;
    padding: 0 8%;
}

.hero-text h5 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 3px #616a6b;
}

.hero-text h1 {
    font-family: "Crimson Text", serif;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
    text-shadow: 1px 1px 3px #616a6b;
}

.hero-text h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px #616a6b;
}

.hero-text p {
    font-size: 1.2em;
    line-height: 1.9;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px #616a6b;
}

.hero-img img {
    height: auto;
    width: 400px;
    margin: 10% 0 0 10%;
    transition: all 1.5s linear;
}

.hero-img img:hover {
    width: 450px;
    opacity: 0.6;
}

.hero-text a {
    background-color: #343535;
    border: 1px solid transparent;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    padding: 5px 15px;
    text-shadow: 1px 1px 3px #616a6b;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.hero-text a.hero-text-portfolio {
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.github {
    border: 1px solid transparent;
    margin-left: 20px;
}

.hero-text a:hover {
    background-color: transparent;
    border: 1px solid white;
    transform: translatex(8px);
}

.hero-text a.hero-text-portfolio i {
    margin-right: 5px;
}

.hero-text a.github i {
    margin-right: 5px;
}

.icons {
    display: block;
    padding: 0 3%;
    position: absolute;
    transform: translateY(-50%);
    top: 50vh;
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover {
    color: #424949;
    transform: translateY(-5px);
}

.scroll-down {
    bottom: 6%;
    position: absolute;
    right: 3%;
}

.scroll-down i {
    background-color: #21383d;
    border-radius: 30px;
    display: block;
    font-size: 25px;
    padding: 12px;
    transition: all .5s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}

.scroll-down2 {
    bottom: 6%;
    position: absolute;
    right: 3%;
}

.scroll-down2 i {
    background-color: #1b4f72;
    border-radius: 30px;
    display: block;
    font-size: 25px;
    padding: 12px;
    transition: all .5s ease;
}

.scroll-down2 i:hover {
    transform: translateY(-5px);
}

.about-me {
    align-items: center;
    background: #f3f3f3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.about-me-text h3 {
    color: #424949;
    font-size: 21px;
    font-weight: 800;
    margin: 6% 0 2%;
    text-decoration-thickness: 1px;
    text-decoration-color: #424949;
    text-shadow: 1px 1px 2px #777d7db7;
    text-transform: uppercase;
}

.about-me-text p {
    color: #424949;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.9;
    margin-bottom: 3%;
    text-align: left;
    text-indent: 40px;
    text-shadow: 1px 1px 3px #7f8383b7;
}

.about-me b {
    color: #ffc70b;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px white;
}

.about-me-img img {
    height: auto;
    width: 400px;
    margin: 10% 0 0 10%;
}

.portfolio {
    align-content: center;
    background: #f3f3f3;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.portfolio-branding {
    justify-self: center;
    height: auto;
    text-align: center;
    width: 30vmax;
    
}

.portfolio-branding h3 {
    color: #424949;
    font-size: 21px;
    font-weight: 800;
    justify-content: center;
    margin-bottom: 2%;
    padding-top: 4%;
    text-align: center;
    text-shadow: 1px 1px 3px #7f8383b7;
    text-transform: uppercase;
}

.portfolio-branding img {
    width: 70%;
    height: auto;
    transition: all .5s ease;
}
.portfolio-branding img:hover{
    box-shadow: 1px 1px 10px #7f8383b7;
    transform: translateY(-7px);
    border: 1px solid rgba(0, 0, 0, 0.155);    
}

.portfolio-landing {
    justify-self:center ;
    height: auto;
    text-align: center;
    width: 30vmax;
}

.portfolio-landing h3 {
    color: #424949;
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 2%;
    padding-top: 4%;
    text-align: center;
    text-shadow: 1px 1px 3px #7f8383b7;
    text-transform: uppercase;
}

.portfolio-landing a {
    background-color:white;
    border: 1px solid transparent;
    border-radius: 30px;
    display: inline-block;
    margin: 4%;
    padding: 5px;
    transition: all .5s ease;
}

.portfolio-landing a:hover {
    background-color:transparent;
    border: 1px solid rgba(0, 0, 0, 0.155);
    box-shadow: 1px 1px 10px #7f8383b7;
    transform: translateY(-10px);
}

.portfolio-landing img {
    width: 200px;
    height: auto;
}

.portfolio-marketing {
    justify-self: center;
    height: auto;
    text-align: center;
    width: 30vmax;
}

.portfolio-marketing h3 {
    color: #424949;
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 2%;
    padding-top: 4%;
    text-align:center;
    text-shadow: 1px 1px 3px #7f8383b7;
    text-transform: uppercase;
}

.portfolio-marketing video {
    width: 67%;
    height: auto;
    transition: all .5s ease;
}
.portfolio-marketing video:hover {
    box-shadow: 1px 1px 10px #7f8383b7;
    border: 1px solid rgba(0, 0, 0, 0.155);
    transform: translateY(-8px);
}


/*aca vamos a hacer mediaqueries para que la web sea responsive*/
@media (max-width:992px) {
    .navlist a {
        font-size: 90%;
    }

    section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text {
        padding-top: 0;
    }

    .hero-text p {
        font-size: 1.2em;
    }

    .about-me p {
        font-size: 1.1em;
        text-align: left;
    }

    .hero-img {
        text-align: center;
    }

    .hero-img img {
        margin: 10% 0 0 10%;
        width: 80%;
    }
    .about-me h3{
        margin-top: 40px;
    }

    .about-me img {
        width: 80%;
    }

    .icons {
        display: none;
    }

    .scroll-down {
        display: none;
    }
    .scroll-down2 {
        display: none;
    }
}

@media (max-width:768px) {
    header {
        justify-content: end;
    }
    .menu-icon-action {
        display: block;
    }

    #menu-icon {
        color: #343535;
        display: block;
    }

    .hero-text {
        text-align: center;
        padding-top: 100px;
    }

    .hero-img img {
        margin: 0;
    }

    .about-me-img {
        margin: 0;
        justify-self: center;
    }

    .about-me {
        gap: 1rem;
        grid-template-columns: 1fr;
        height: 100%;
        justify-self: center;
    }
    .about-me h3{
        margin-top: 60px;
    }
    .portfolio {
        display: block;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        justify-self: center;
    }

    .portfolio-branding {
        margin: 5% 0 5%;
    }
    
    .portfolio-branding h3{
        margin-top: 50px;
    }
    .portfolio-branding img{
        height: auto;
        margin-top: 7px;
        width: 90%;
    }

    .portfolio-landing {
        margin: 5% 0 5%;
    }
    .portfolio-landing img{
        height: auto;
        margin-top: 7px;
        width: 90%;
        
    }

    .portfolio-marketing{
        margin: 5% 0 5%;
    }

    .portfolio-marketing video{
        height: auto;
        margin-top: 7px;
        width: 90%;
    }

    .hero {
        gap: 1rem;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .navlist {
        align-items: center;
        background-color: #343535;
        display: flex;
        flex-direction: column;
        height: 180px;
        padding: 30px 20px;
        position: absolute;
        right: -100%;
        top: 100%;
        width: 200px;
        transition: all .5 ease;
    }

    .navlist a {
        color: white;
        display: block;
        margin: 7px 0;
    }

    .navlist a:hover {
        border-bottom: 2px solid #e6e7e789;
    }

    #menu-toggle:checked+label.menu-icon-action+ul {
        right: 0;
    }
}